.brands {
  min-height: 10vh;

  &__content {
    display: grid;
    grid-template-columns: repeat(8, 254px);
    overflow: hidden;
    width: 100%;
    margin-top: 3rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    transition: box-shadow 0.3s ease-out;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 15px -5px rgba(34, 60, 80, 0.3);
    }
  }

  &__img {
    filter: grayscale(100%);
  }
}
