*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

.container {
  // background-color: pink;
  margin: 0 auto;
  padding: 0 10rem;
}
