*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

.container {
  max-width: 220rem;
  margin: 0 auto;
  padding: 0 10rem;

  @media (max-width: 560px) {
    padding: 0 2rem;
  }
}
